*{
  margin: 0;
  padding: 0;
}

html{
  height: auto;
}

html,body {
  min-height: 100%;
}

body{
  background: #f3f3f3;
  font: 62.5% Verdana;
  text-align: center;
}

.header {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
}

.link {
  margin-left: 10px;
  color: #B8D335;
  font-size: 14px;
  text-decoration: none;
}

.footer {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: flex-start;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.footer h1 {
  margin: 30px 0 30px 10px;
  color: #777;
  font-size: 20px;
  text-align: left;
}
